@import "@/styles/mixins";

.exponentItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(16.66% - 20px);
  padding: 3rem 1.25rem 2.5rem;
  background-color: #fff;
  min-height: 315px;
  border-radius: 15px;
  box-shadow: 0 0 0 2px rgba(245, 245, 245, 0.5), 0 1px 3px rgba(140, 140, 140, 0.4);
  transition: all .4s ease;
  cursor: pointer;
  flex-grow: 1;

  @media screen and (max-width: 1600px) {
    width: calc(25% - 20px);
  }
  @media screen and (max-width: 1024px) {
    width: calc(33.3% - 20px);
  }
  @media screen and (max-width: 768px) {
    width: calc(50% - 20px);
  }
  @media screen and (max-width: 580px) {
    width: 100%;
  }
}

.exponentItemImg {
  width: 120px;
  height: 120px;
  margin-bottom: 1.25rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.exponentName {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: .75rem;
  text-align: center;
  height: 43px;
  @include title_limit(2);
}

.exponentType{
  color: #637381;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  height: 85px;
  a{
    text-decoration: none;
    color: #3758f9;
  }
}

.exponentSocials {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  min-height: 25px;
}

.exponentSocial {
  a {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 25px;
      height: auto;
      fill: #ccc;
      transition: all .4s ease;
    }
  }

  &:hover {
    a {
      svg {
        fill: #f11f1f;
      }
    }
  }
}

.exponentCatalogs {
  margin-top: 1.25rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  min-height: 43px;
}


