.exponentMeetItems{
  display: flex;
  flex-direction: column;
}

.exponentMeetItem{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  transition: all .4s ease;

  &:hover{
    background-color: #f8f8f8;
  }
}
.exponentMeetItemName{
  text-wrap: nowrap;
  width: 30%;
}
.exponentMeetItemValue{
  text-align: end;
  width: 50%;
  &.free{
    color: #4CAF50;
  }
  &.busy{
    color: #f44336;
  }
}